{{!--
This footer template is shared across all the pages.
--}}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css" integrity="sha512-apX8rFN/KxJW8rniQbkvzrshQ3KvyEH+4szT3Sno5svdr6E/CP0QE862yEeLBMUnCqLko8QaugGkzvWS7uNfFQ==" crossorigin="anonymous" />

<style>
.wechat-qrcode {
    display: none;
}

#wechat-button:hover + .wechat-qrcode {
    display: block;
}

.wechat-qrcode {
    position: absolute;
    padding: 8px;
    background-color: #2c2c2c;
    border-color: rgba(255,255,255,0.05);
    margin-left: 180px;
    margin-bottom: 200px;
    animation: fadeIn 0.2s;
}

@keyframes fadeIn {
     from {
          opacity: 0;
     }

     to {
          opacity: 1;
     }
}

.wechat-qrcode p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
</style>

<footer class="m-footer">
  <div class="m-footer__content">
    {{#if @site.secondary_navigation}}
      <nav class="m-footer__nav-secondary" role="navigation" aria-label="{{t "Secondary menu in footer"}}">
        {{navigation type="secondary"}}
      </nav>
    {{/if}}
    <nav class="m-footer-social">
      {{#if @site.facebook}}
        <a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener" aria-label="Facebook">
          <span class="icon-facebook" aria-hidden="true"></span>
        </a>
      {{/if}}
      {{#if @site.twitter}}
        <a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener" aria-label="Twitter">
          <span class="icon-twitter" aria-hidden="true"></span>
        </a>
      {{/if}}
      <a href="{{@site.url}}/rss" aria-label="RSS">
        <span class="icon-rss" aria-hidden="true"></span>
      </a>
      <a aria-label="Wechat" id="wechat-button">
        <span class="fab fa-weixin" aria-hidden="true"></span>
      </a>
      <div class="wechat-qrcode">
        <img id="js_pc_qr_code_img" class="qr_code_pc_img" src="{{ asset "images/wechatqrcode.bmp" }}" alt="WeChat QR code">
        <p>Scan to Follow</p>
      </div>
      <a href="https://github.com/dodaydream" id="github-button" target="_blank" rel="noopener" aria-label="Github">
        <span class="fab fa-github" aria-hidden="true"></span>
      </a>
      <a href="https://linkedin.com/in/sophiecao2024" id="linkedin-button" target="_blank" rel="noopener" aria-label="Linkedin">
        <span class="fab fa-linkedin" aria-hidden="true"></span>
      </a>
    </nav>
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span>{{t "Published with"}} <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></span>
    </p>
    <p class="m-footer-copyright jslicense">
      <a href="{{asset "html/javascript.html"}}" rel="jslicense">{{t "JavaScript license information"}}</a>
    </p>
  </div>
</footer>
